body {
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
}
.main {
  align-items: center;
  color: #222;
  display: flex;
  font-size: 13px;
  height: 100vh;
  justify-content: flex-start;
  margin-left: 24px;
  text-align: left;
  width: 100vw;
}
.contents {
  z-index: 1;
}
ul {
  line-height: 1.5;
  list-style: none;
  padding-left: 0;
}
a {
  color: #444;
}
a:hover {
  color: dodgerblue;
}
